.wordsContainer li {
  border: 0;
    @include respond(tab-land) {
      height: 70px;
      width: 32%;
      margin: 5px
    }
    @include respond(tab-port) {
      width: 48%;
    }
    @include respond(phone) {
      width: 99%;
      border-radius: 50px;
    }
    @include respond(big) {
      height: 70px;
      width: 24%;
      margin: 5px
    }
  }  

.word {
    @include respond(tab-land) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: blue;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      outline: none;
      perspective: 150rem;
      transition: all 2s;
    }
    @include respond(tab-port) {
  
    }
    @include respond(phone) {
    } 
    @include respond(big) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: blue;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transition: all 2s;
    }
  }  

  .word p {
    @include respond(tab-land) {
      width: 70%;
      position: relative;
      top:0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    @include respond(tab-port) {
  
    }
    @include respond(phone) {
  
    }
    @include respond(big) {
      width: 70%;
      position: relative;
      top:0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .word span {
    @include respond(tab-land) {
      margin-right:5%;
    }
    @include respond(tab-port) {
  
    }
    @include respond(phone) {
  
    }
    @include respond(big) {
      margin-right:5%;
    }
  }

.translation {
    @include respond(tab-land) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      transform: rotateX(-180deg);
      background-color: green;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      perspective: 150rem;
      transition: all 2s;
    }
    @include respond(big) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      transform: rotateX(-180deg);
      background-color: green;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: all 2s;
      outline: none;
    }
}

  .word-active {
    transform: rotatex(180deg);
  }

  .translation-active {
    transform: rotateX(0deg);
  }