.addWordContainer-wordInput, .addWordContainer-translationInput {
  @include respond(tab-land) {
    width: 70%;
    height: 50px;
    margin: 20px 1% 1% 1%;
  }
  @include respond(tab-port) {
    width: 80%;
    margin: 20px 1% 1% 1%;
  }
  @include respond(phone) {
    width: 80%;
    margin: 13px 1% 1% 1%;
  }
  @include respond(big) {
    width: 550px;
    height: 50px;
    margin: 20px 1% 1% 1%;
  }
}